<?xml version="1.0" encoding="UTF-8"?>
<settings version="1">
    <section id="plugin.video.sharedgdrive">
        <category id="configuration" label="30001" help="">
            <group id="1">
                <setting id="shared_drive_id" type="string" label="30002" help="30003">
                    <level>0</level>
                    <default></default>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30002</heading>
                    </control>
                </setting>

                <setting id="import_credentials" type="action" label="30005" help="30006">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.sharedgdrive/?action=import_credentials)</data>
                    <control type="button" format="action"/>
                </setting>
                <setting id="clear_credentials" type="action" label="30007" help="30008">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.sharedgdrive/?action=clear_credentials)</data>
                    <control type="button" format="action"/>
                </setting>
                <setting id="clear_folder_cache" type="action" label="30034" help="30035">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.sharedgdrive/?action=clear_folder_cache)</data>
                    <control type="button" format="action"/>
                </setting>
            </group>
            <group id="2" label="30047">
                <setting id="playback_preflight_enabled" type="boolean" label="30048" help="30049">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>
            <group id="3" label="30021">
                <setting id="snapshot_export_enabled" type="boolean" label="30022" help="30023">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="snapshot_export_folder" type="string" label="30024" parent="snapshot_export_enabled" help="30025">
                    <level>0</level>
                    <default></default>
                    <dependencies>
                        <dependency type="enable" setting="snapshot_export_enabled">true</dependency>
                    </dependencies>
                    <control type="button" format="action">
                        <data>RunPlugin(plugin://plugin.video.sharedgdrive/?action=set_export_folder)</data>
                    </control>
                </setting>
                <setting id="snapshot_auto_prune" type="boolean" label="30050" parent="snapshot_export_enabled" help="30051">
                    <level>0</level>
                    <default>false</default>
                    <dependencies>
                        <dependency type="enable" setting="snapshot_export_enabled">true</dependency>
                    </dependencies>
                    <control type="toggle"/>
                </setting>

                <setting id="run_snapshot_export" type="action" label="30028" parent="snapshot_export_enabled" help="30029">
                    <level>0</level>
                    <dependencies>
                        <dependency type="enable" setting="snapshot_export_enabled">true</dependency>
                    </dependencies>
                    <data>RunPlugin(plugin://plugin.video.sharedgdrive/?action=export_snapshot)</data>
                    <control type="button" format="action"/>
                </setting>
                <setting id="review_stale_exports" type="action" label="30037" parent="snapshot_export_enabled" help="30042">
                    <level>0</level>
                    <dependencies>
                        <dependency type="enable" setting="snapshot_export_enabled">true</dependency>
                    </dependencies>
                    <data>RunPlugin(plugin://plugin.video.sharedgdrive/?action=review_stale_exports)</data>
                    <control type="button" format="action"/>
                </setting>
            </group>
            <group id="4">
                <setting id="client_email" type="string" label="30009" help="">
                    <level>4</level>
                    <default></default>
                    <visible>false</visible>
                    <control type="edit" format="string">
                        <heading>30009</heading>
                    </control>
                </setting>
                <setting id="private_key" type="string" label="30010" help="">
                    <level>4</level>
                    <default></default>
                    <visible>false</visible>
                    <control type="edit" format="string">
                        <heading>30010</heading>
                        <hidden>true</hidden>
                    </control>
                </setting>
            </group>
        </category>
    </section>
</settings>
